.button-row {
  margin: 0 0 1rem 0;
}

.button-row button {
  margin-right: 1rem;
}

.stardb-app .row {
  margin-bottom: 1rem;
}

.toggle_button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.login-row {

}